@import "pages/login";

.centerAll {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .loginForm {
    width: 40rem;
  }
}

#formularioHorario {
  background: white;
}

.formularioHorario {
  &__input {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &.formHidden {
    display: none;
  }
}

.bgWhite {
  background: white;
}

.fc-slats tr {
  height: 35px !important;
}
