extends ../dashboard.pug

block content
  form#formularioCurso.text-center.border.border-light.p-5
    p.h4.mb-4 REGISTRO DE CURSOS
    // Name
    input#name.form-control.mb-4(type='text', name= "name", placeholder='Nombre del Curso')
   
    // Tipo de Usuario
    select#roleSelect.browser-default.custom-select.mb-4(name= "user")
      option(value='', disabled='', selected='') Elija Docente
    
    // Send button
    button.btn.btn-info.btn-block(type='submit') Registrar