extends ../dashboard.pug

block content
  .listado

  div
    button.btnAgregar.btn.btn-info AGREGAR

  .table-responsive.text-nowrap
 
  // Table
  table.table.table-striped
    // Table head
    thead
      tr
        th N°
        th CURSO
        th GRUPO
        th DOCENTE

    // Table head
    // Table body
  //  tbody
      tr
        th(scope='row') 1
      
        td ALGORITMO Y ESTRUCTURA DE DATOS I
        td A
        td Ing. Serquen Yparraguirre Oscar Alex
        
      tr
        th(scope='row') 2
        td ALGORITMO Y ESTRUCTURA DE DATOS I
        td B
        td Ing. Bravo Jaico Jessie 
        
      tr
        th(scope='row') 3
        td DISEÑO ASISTIDO POR COMPUTADORA
        td A
        td 
        td 25
      tr
        th(scope='row') 4
        td Jerry
        td Horwitz
        td USA / The United Kingdom / China / Russia 
        td New York City / Warsaw / Lodz / Amsterdam / London / Chicago
        td Web Designer /UX designer / Ul designer / JavaScript Developer
        td 41
      tr
        th(scope='row') 5
        td Janis
        td Joplin
        td USA / The United Kingdom / China / Russia 
        td New York City / Warsaw / Lodz / Amsterdam / London / Chicago
        td Web Designer /UX designer / Ul designer / JavaScript Developer
        td 39
      tr
        th(scope='row') 6
        td Gary
        td Winogrand
        td USA / The United Kingdom / China / Russia 
        td New York City / Warsaw / Lodz / Amsterdam / London / Chicago
        td Web Designer /UX designer / Ul designer / JavaScript Developer
        td 37
      tr
        th(scope='row') 7
        td Angie
        td Smith
        td USA / The United Kingdom / China / Russia 
        td New York City / Warsaw / Lodz / Amsterdam / London / Chicago
        td Web Designer /UX designer / Ul designer / JavaScript Developer
        td 52
      tr
        th(scope='row') 8
        td John
        td Mattis
        td USA / The United Kingdom / China / Russia 
        td New York City / Warsaw / Lodz / Amsterdam / London / Chicago
        td Web Designer /UX designer / Ul designer / JavaScript Developer
        td 28
      tr
        th(scope='row') 9
        td Otto
        td Morris
        td USA / The United Kingdom / China / Russia 
        td New York City / Warsaw / Lodz / Amsterdam / London / Chicago
        td Web Designer /UX designer / Ul designer / JavaScript Developer
        td 3
  
 
