.loginPage {
  background: #eee;
  overflow: hidden;
  .loginForm {
    background: white;
  }
  .logoEpiciLogin {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 30rem;
    img {
      width: 100%;
    }
  }
  .copyright {
    color: #a2a6a6;
  }
}
