extends ../dashboard.pug

block content
  form#formularioUsuario.text-center.border.border-light.p-5
    p.h4.mb-4 USUARIO
    // Name
    input#name.form-control.mb-4(type='text', name= "name", placeholder='Nombre')
    // LastName
    input#lastname.form-control.mb-4(type='text', name= "lastName", placeholder='Apellidos')
    // Dni
    input#dni.form-control.mb-4(type='number', name= "dni", placeholder='DNI')
    // Email
    input#email.form-control.mb-4(type='email', name= "email", placeholder='E-mail')
    //Password
    input#password.form-control.mb-4(type='password', name= "password", placeholder='Contraseña')
    // Tipo de Usuario
    select#role.browser-default.custom-select.mb-4(name= "role")
      option(value='', disabled='', selected='') Elija Opción
      option(value='administrator') Administrador
      option(value='teacher') Docente
    
    // Send button
    button.btn.btn-info.btn-block(type='submit') Guardar

block scripts
  script.
    jQuery(document).ready(()=> {
      const $form = $('#formularioUsuario');
      $form.submit((event)=> {
        event.preventDefault();
        const name = $('#name').val();
        const lastName = $('#lastName').val();
        const dni = $('#dni').val();
        const email = $('#email').val();
        const password = $('#password').val();
        const role = $('#role').val();
        const token = localStorage.getItem("token");
        jQuery.post({
          url: 'http://staff360api.socialpressplugin.xyz:8000/api/users/',
          headers: {
              'Authorization': `Bearer ${token}`,
          },
          data: {
            name,
            lastName,
            dni,
            email,
            password,
            role
          }
        }).done(function(response) {
          if(response.error){
            alert('Error al guardar al usuario.')
          }else{
            localStorage.setItem('token',response.token);
            window.location.href="/html/usuarios/listado.html";
          }
        }).fail(function(err) {
          console.log(err);
          alert( "error" );
        })
      })
    });
