extends ../dashboard.pug

block content
  div
    h4 Usuarios
    button.btnAgregar.btn.btn-info AGREGAR

    .table-responsive.text-nowrap
      table#usuariosTable.table.table-striped
        thead
          tr 
            th N°
            th NOMBRE
            th CORREO
            th ROL
            th OPCIONES
        tbody