extends ../dashboard.pug

block content
 .listado
  form.text-center.border.border-light.p-5
    p.h4.mb-4 HORARIO DE DOCENTE
   
   
    // Tipo de Usuario
    select#role.browser-default.custom-select.mb-4(name= "user")
      option(value='', disabled='', selected='') Elija Docente
      option(value='1') Ing. Paico Bravo Jessi
      option(value='2') Ing. Serquen Yparragiurre Oscar Alex
    
    // Send button
    button.btn.btn-info.btn-block(type='submit') Filtrar


  .table-responsive.text-nowrap
 
  // Table
  table.table.table-striped
    // Table head
    thead
      tr
        th N°
        th CURSO
        th GRUPO
        th DOCENTE