extends ../dashboard.pug

block content
  .listadoHorario
    h4 Horario Laboratorio 01
    #calendar

block styles
  link(href='/js/fullcalendar/packages/core/main.css', rel='stylesheet')
  link(href='/js/fullcalendar/packages/daygrid/main.css', rel='stylesheet')
  link(href='/js/fullcalendar/packages/timegrid/main.css', rel='stylesheet')

block scripts
  script(src='/js/fullcalendar/packages/core/main.js')
  script(src='/js/fullcalendar/packages/daygrid/main.js')
  script(src='/js/fullcalendar/packages/timegrid/main.js')
  script(src='/js/moment.min.js')